*{

}

body{
	padding: 0;
	margin: 0; 
	background-color: black;
	overflow-y: hidden;

}


.menu-btn{
	display: none;
}

.mob_nav{
	display: none;
}


header{
	display: flex;
	width: 90%;
	margin: auto;
	align-items: center;
}


.logo,.Heading, .nav-links{
	display: flex;
}


.logo{
 	flex: 1;
 		justify-content: space-around;
}	



.Heading{
	flex: 2;
	justify-content: space-around;
	font-size: 38px;
	color: white;
	font-family: 'Vollkorn', serif;
}

nav{
	flex: 1;
}


.nav-links{
	justify-content: space-around;
    padding-left: 0px;

}

.nav-link{
	list-style: none;
}

.nav-link a{
	text-decoration: none;
	color: white;
	font-family: 'Poppins', sans-serif;
}

.line{
	position: absolute;
	top: 80px;
	left: 0px;
	height: 0px;
	width: 100%;
	z-index: 99990;
	border-bottom: 1px solid #808080;
}

footer{

}

.mail_us{
	position: absolute;
	bottom: 0;
	right: 60px;
	height: 35px;
	width: 160px;
	background-color: #464646;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px 20px 0 0;
}


.mail_icon{
	padding-left: 15px;
	color: white;
}


.mail_text{
	padding-right: 20px;
	color: white;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.call_us{
	display: none;
}


.loader_bg{
	position: fixed;
	z-index: 999999;
	background: black;
	width: 100%;
	height: 100%;
	align-items: center;
}












@media(max-width: 984px){

	ul{
		display: none;
	}
	ul li{
		display: none;
	}
	ul li a{
		display: none;
	}


	.logo,.Heading, .nav-links{
		display: flex;
	}


	.logo{
	 	flex: 1;
	 	justify-content: space-around;
	}	



	.Heading{
		flex: 3;
		padding-top: 25px;
		justify-content: space-around;
		font-size: 28px;
		color: white;
	}

	nav{
		flex: 1;
	}


	.line{
		top: 100px;
	}





	.menu-btn {
		position: absolute;
		top: 15px;
		  display: block;
		  display: flex;
		  padding-left: 10px;
		  justify-content: center;
		  align-items: center;
		  width: 70px;
		  height: 70px;
		  cursor: pointer;
		  transition: all .5s ease-in-out;
		  /* border: 3px solid #fff; */
	}
	.menu-btn__burger {
	  width: 50px;
	  height: 6px;
	  background: #fff;
	  border-radius: 5px;
	  box-shadow: 0 2px 5px rgba(255,101,47,.2);
	  transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before,
	.menu-btn__burger::after {
	  content: '';
	  position: absolute;
	  width: 50px;
	  height: 6px;
	  background: #fff;
	  border-radius: 5px;
	  box-shadow: 0 2px 5px rgba(255,101,47,.2);
	  transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before {
	  transform: translateY(-16px);
	}
	.menu-btn__burger::after {
	  transform: translateY(16px);
	}
	/* ANIMATION */
	.menu-btn.open .menu-btn__burger {
	  transform: translateX(-50px);
	  background: transparent;
	  box-shadow: none;
	}
	.menu-btn.open .menu-btn__burger::before {
	  transform: rotate(45deg) translate(35px, -35px);
	}
	.menu-btn.open .menu-btn__burger::after {
	  transform: rotate(-45deg) translate(35px, 35px);
	}
	ul{
		
	}
}









@media(max-width: 527px){

	header{
		display: flex;
		width: 100%;
		margin: auto;
		align-items: center;
	}

	.logo,.Heading, .nav-links{
		display: flex;
	}


	.logo{
		padding-top: 10px;
	 	flex: 1;
	 	justify-content: space-around;
	}	



	.Heading{
		flex: 3;
		padding-top: 25px;
		justify-content: space-around;
		font-size: 18px;
		color: white;
	}

	nav{
		flex: 1;

	}


	.line{
		top: 100px;
	}

	.menu-btn {
		z-index: 9999;
		position: absolute;
		  top: 32px;
		  display: block;
		  display: flex;
		  padding-left: 10px;
		  justify-content: center;
		  align-items: center;
		  width: 50px;
		  height: 50px;
		  cursor: pointer;
		  transition: all .5s ease-in-out;
		  /* border: 3px solid #fff; */
	}
	.menu-btn__burger {
	  width: 30px;
	  height: 4px;
	  background: #fff;
	  border-radius: 5px;
	  box-shadow: 0 2px 5px rgba(255,101,47,.2);
	  transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before,
	.menu-btn__burger::after {
	  content: '';
	  position: absolute;
	  width: 30px;
	  height: 4px;
	  background: #fff;
	  border-radius: 5px;
	  box-shadow: 0 2px 5px rgba(255,101,47,.2);
	  transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before {
	  transform: translateY(-10px);
	}
	.menu-btn__burger::after {
	  transform: translateY(10px);
	}
	/* ANIMATION */
	.menu-btn.open .menu-btn__burger {
	  transform: translateX(-50px);
	  background: transparent;
	  box-shadow: none;
	}
	.menu-btn.open .menu-btn__burger::before {
	  transform: rotate(45deg) translate(35px, -35px);
	}
	.menu-btn.open .menu-btn__burger::after {
	  transform: rotate(-45deg) translate(35px, 35px);
	}


	.mail_us{
		display: none;
	}

	.call_us{
		position: absolute;
		bottom: 0;
		right: 20px;
		height: 35px;
		width: 160px;
		background-color: #464646;
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-radius: 20px 20px 0 0;
	}


	.call_icon{
		padding-left: 15px;
		color: white;
	}


	.call_text{
		padding-right: 20px;
		color: white;
		text-decoration: none;
		font-family: 'Poppins', sans-serif;
	}

	.mob_nav{
		display: none;
	}

	.mob_nav.open{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #cecece;
		z-index: 999;
		transition: 0.7s ease;
	}


	.mob_nav_logo{
		position: absolute;
		top: 10px;
		left: 4px;
	}

	.mob_nav_heading{
		position: absolute;
		top: 45px;
   		left: 125px;
		font-size: 18px;
		font-family: 'Vollkorn', serif;

	}


	.mob_nav_ul{
		display: flex;
		flex-direction: row;
	}




}